*.exe
*.txt
*.o
*.txt
*.xml
*.yml
*.iml
*.in
*.inp
*.out
*.pas
*.tmp
*.cfg
DayHoc/
ChamDiem/
2023 autumn contest/
KG contest 2023/
LQD CUP/
Yugi/
truongdongdalat2023/
haaarcascae/
SangTao_TinHocTre/
main/
BoiGioiTime/
RedFlag/